body {
    background-color: white;
    padding: 0px;
    margin: 0px auto;
}

.container {
    max-width: 900px;
    max-height: 900px;
    padding: 30px;
    margin: 0px auto;
    background-color: black;
}

.logo {
    width: 100px;
    padding: 10px;
}

.vid {
    width: 300px;
    height: 450px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

video {
    width: 300px;
    position: relative;
    height: 450px;
    padding: 0px;
    margin: 0px auto;
}

.option {
    position: relative;
    top: -410px;
    left: 280px;
    display: grid;
    gap: 20px;
    width: 50px;
    opacity: 0.7;
}

.option2 {
    position: relative;
    top: -350px;
    left: 280px;
    display: grid;
    gap: 40px;
    width: 50px;
}

.option3 {
    position: absolute;
    width: 50px;
    top: 200px;
    left: 269px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.comment {
    color: black;
    background-color: white;
    height: 300px;
    position: relative;
    top: -180px;
}

.comment ul li {
    list-style-type: none;
}

i {
    color: white;
    font-size: 20px;
}

button {
    background: none;
    border: none;
}

.hr {

    width: 100%;
    height: 0.5px;
    background-color: gainsboro;
}

.avt {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: white;
}

.avt img {
    width: 40px;
    border-radius: 100px;
}

.profile {
    display: grid;
    gap: 2px;
}

.name {
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.username {
    font-size: 14px;
    color: gray;
}

.fl {
    color: white;
    font-weight: 600;
    background-color: #DF274B;
    border-radius: 5px;
    height: 17px;
    font-size: 13px;
    padding: 5px 20px;
    border: 1px solid tomato;
    font-family: Arial, Helvetica, sans-serif;
}

.des,
.music {
    padding: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.music i {
    color: black;
    font-size: 12px;
    margin-right: 10px;
}

.countCmt {
    font-weight: 600;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.containercmt {
    position: relative;
    margin-left: 10px;
}

.containercmt i {
    color: black;
}

.avtcmt img {
    width: 40px;
    border-radius: 100px;
}

.flcmt {
    display: flex;
    gap: 10px;
    align-items: center;
}

#commentForm {
    display: flex;
}

#commentForm button {
    color: gray;
}

input {
    padding: 10px;
    background-color: #F1F1F2;
    border: 1px solid #d6e5ea;
    border-radius: 3px;
}

.icon {
    position: relative;
    left: -29px;
    top: 9px;
}

.icon-list {
    position: absolute;
    top: -100px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.cmtdown {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.cmtdown img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.usercmt {
    display: flex;
    gap: 20px;
}

.nameuserr {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

.noidung {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.thongtincmt {
    font-size: 13px;
    color: gray;
    margin-top: 10px;
}

.cmtdown-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Thay đổi số lượng cột tùy ý */
    grid-gap: 10px;
    /* Khoảng cách giữa các phần tử */
}

.comment-container {
    background-color: #DF274B;
}

.comment-wrapper {
    margin-bottom: 20px;
    display: flex;
    list-style-type: none;
    gap: 14px;
}

.usercmt {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.textcmt {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
}

.timecmt {
    font-size: 12px;
    margin-top: 5px;
    color: gray;
}

.nhacnen i {
    color: black;
    font-size: 10px;
    margin-right: 2px;
}

.nhacnen {
    height: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.nhacnen p {
    font-size: 12px;
}

.chiso {
    position: relative;
    left: 10px;
}

.heart-button i {
    color: white;
}

@keyframes shake {
    0% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(-2px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.heart-button {
    background: transparent;
    border: none;
}

.fa-heart {
    color: black;
    position: relative;
    transition: color 0.3s;
}

.fa-heart:hover {
    animation: shake 0.8s infinite;
}

.fa-heart.clicked {
    color: red;
    animation: pulse 0.6s;
}


.fl.unfollow {
    background-color: gray;
    /* Màu sắc cho nút Unfollow */
    border: 1px solid gray;
}